<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="text-center">
        <v-snackbar
          v-model="display"
        >
          Command executed
          <v-btn text color="primary" @click="display==!displayForm">
            Close
          </v-btn>
        </v-snackbar>
        <v-btn v-show="!active" color="primary" tile @click="displayForm=!displayForm">
          Insert commands
        </v-btn>
        <v-btn v-show="!active" color="secondary" tile @click="commandButtonClick">
          {{ executed ? "Reset position" : "Execute commands" }}
        </v-btn>
        <v-overlay :value="displayForm">
          <command-form
            :width="width"
            :height="height"
            :initial-x="initialX"
            :initial-y="initialY"
            :initial-orientation="initialOrientation"
            :commands="commands"
            @close="closeForm"
          />
        </v-overlay>
      </v-col>
      <grid :width="width" :height="height" :orientation="orientation" :x="x" :y="y" />
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Grid from '@/components/Grid.vue'
import CommandForm from '@/components/CommandForm.vue'
import Settings from '~/types/settings'

@Component({
  components: {
    Grid,
    CommandForm
  }
})
export default class Index extends Vue {
  // Data
  commands:string=''
  width: number=1
  height: number=1
  x: number=0
  y: number=0
  orientation: string='N'
  initialX: number=0
  initialY: number=0
  initialOrientation: string='N'
  displayForm: boolean=false
  display: boolean=false
  executed: boolean=false
  active:boolean=false

  // Methods
  commandButtonClick () {
    if (this.executed) {
      this.resetRover()
    } else {
      this.executeCommands()
    }
    this.executed = !this.executed
  }

  executeCommands () {
    if (!this.commands) {
      return
    }
    this.active = true
    const orientations = ['N', 'E', 'S', 'W']
    this.orientation = this.initialOrientation.toUpperCase()
    let orientationVal = orientations.indexOf(this.initialOrientation.toUpperCase())
    this.commands.toUpperCase().split('').forEach(async (command:string, index:number, arr: string[]) => {
      await new Promise((resolve) => {
        setTimeout(() => {
          switch (command) {
            case 'A':
              // Moves on the plain according to its orientation
              switch (orientationVal) {
                case 0: // Case north
                  this.y++
                  break
                case 1: // Case east
                  this.x++
                  break
                case 2: // Case south
                  this.y--
                  break
                case 3: // Case west
                  this.x--
                  break
              }
              break
            case 'L':
              orientationVal = orientationVal === 0 ? 3 : orientationVal - 1
              this.orientation = orientations[orientationVal]
              break
            case 'R':
              orientationVal = orientationVal === 3 ? 0 : orientationVal + 1
              this.orientation = orientations[orientationVal]
              break
          }
          resolve()
        }, 250 * index)
      })
      if (arr.length - 1 === index) {
        this.active = false
      }
    })
  }

  closeForm (output:Settings) {
    if (output) {
      this.commands = output.commands
      this.width = output.width
      this.height = output.height
      this.initialX = output.x
      this.initialY = output.y
      this.initialOrientation = output.orientation
      this.executed = false
      this.resetRover()
    }
    this.displayForm = false
  }

  resetRover () {
    this.y = this.initialY
    this.x = this.initialX
    this.orientation = this.initialOrientation
  }
}
</script>
